<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Store</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
  </head>
  <body>
    
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="signin my-5">
                <div class="signin-body" style="direction: rtl;">
                  <h5 class="signin-title text-center">الدخول</h5>
                  <form class="form-signin">
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control"placeholder="الإيميل"  required autofocus>
                      <label for="inputEmail" ></label>
                    </div>
      
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" placeholder=" كلمة المرور" required>
                      <label for="inputPassword"> </label>
                    </div>
      
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1" style="float: right;">تذكر الباسورد</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">الدخول</button>
                    <!--span class="psw"><a href="#">Forgot password?</a></span-->

                    <span class="social-label">أو</span>
                    <hr class="my-4">
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i>   سجل الدخول عبر جميل </button>
                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook mr-2"></i> سجل الدخول عبر فيسبوك</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      
</body>
</html>
